body {
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 60px;
  background-color: #eab058;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  height: 433px;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-wrap {
  align-self: center;
}

.email-wrap label {
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  padding-bottom: 10px;
}

.email-wrap input {
  padding: 5px 20px;
  font-size: 10px;
  outline: none;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.email-wrap button {
  background-color: #302b26;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 5px 20px;
  font-weight: 300;
}

.links {
  display: flex;
  justify-content: space-between;
}

.site-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.news-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.site-title {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  /* width: 50%; */
}

.site-title span,
.newsletter span {
  max-width: 500px;
}

.site-name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.site-links span {
  margin-bottom: 15px;
  margin-left: 80px;
}

.site-links__header {
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 570px) {
  footer {
    padding: 50px 17px;
    background-color: #eab058;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    height: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .site-links span {
    margin-left: 50px;
  }
}
@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
  }

  .site-title {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .right-footer {
    align-items: flex-start;
  }

  .email-wrap {
    align-self: flex-start;
  }

  .site-links:first-of-type {
    margin: 0;
  }

  .links {
    margin-top: 40px;
  }
}

/* @media(max-width:375px){
    
    footer {
        padding: 50px 17px;
        background-color: #eab058;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        font-size: 12px;
    }
    .site-links span {
        margin-bottom: 10px;
        margin-top: 18px;
        font-size: 12px;
    }
    .site-name {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 23px;
        margin-top: 19px;
    }
    .email-wrap button {
        background-color: #000000;
        color: #ffffff;
        outline: none;
        border: none;
        padding: 6.5px 20px;
        font-weight: 300;
        margin-right: 17px;
} */

/****RESPONSIVENESS***/

/* For mobile phones: */
[class*="col-"]{
  width:100%;
  
}
@media screen and (max-width:480px){
  header .headerFooter span{
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin: 0 20px;
    padding: 18px;

  }
  /** for Tablet ***/
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media screen and (min-width:768px){
  /** for Desktop ***/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
